.movie-trailer {
    width: 100%;
    min-width:700px;
    position: fixed; 
    z-index: 1; 
    background-color: black;
}
.movie-trailer video{
    width:100%;
}
.movie-trailer img{
    width:100%;
}