.movie-trailer {
    width: 100%;
    position: fixed; 
    z-index: 1; 
    background-color: rgb(26, 24, 24);
    transition: all .2s linear;
    & video{
        width:100%;
    }
    & img{
        width:100%;
    }
}
