.card {

    height:33vh;
    width: 25vb;
   
    color: rgb(247, 247, 247);

    margin-right: 1.5vb;
    flex-shrink: 0;
    padding: 0;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .card .image {
    width: 100%;
    height: 100%;
    border-radius: 5px;

  }
  
  .card .image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }
  .card .title1{
    display:none;
   
  }


  .card.small {
    height:25vh;
    width:33vb;
  }
  .card.small .title1{
    display:block;
    height:20%;
  }
  .card.small .image{
    height:75%;

  }
  .card.small .Activecard {
    opacity:0;
    position: absolute;
    top:0;
    transition: all 0.5s ease;
    transition-delay: .5s;
    height: 220px;
    width: 250px;
    background-color: rgb(18, 19, 27);
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.9);
    border-radius: 7px;

  
  }
  .card.small .Activecard .image{
    width:100%;
    height:70%;
    border-radius: 13px;

}
.card.small .Activecard .card-buttons{
  display: none;
}
.card.small .Activecard  .card-description{
  height:30%;
}
  
 .card .Activecard {
    opacity:0;
    position: absolute;
    top:0;
    transition: all 0.5s ease;
    transition-delay: .5s;
    height: 45vh;
    width: 35vb;
    background-color: rgb(18, 19, 27);
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.9);
    border-radius: 10px;

  
  }

  .card:hover .Activecard {
    transform: scale(1.2);
    opacity: 1;
    z-index: 3;

  }
.card .Activecard .image{
    width:100%;
    position: absolute;
    z-index: -1;
    height:50%;
    border-radius: 13px;

}


.card .Activecard .image video{
  width:100%;
  border-radius: 13px;

}

.card .Activecard .card-description{
 
    display:block;
    height: 10vh;

}
.card .Activecard .card-buttons{
    position: relative;
    top:10vh;
    margin-top: 2vh;
    
    background:linear-gradient(to top, rgb(18, 19, 27),rgb(18, 19, 27,0.9),
  
    rgb(18, 19, 27,.3),
    rgb(18, 19, 27,.1));
    display:block;
    height: 11vh;
}
 .card .Activecard .image  img{
    height:100%;
    object-fit:cover;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.card .Activecard .card-description .category{
    position: relative;
    top:14vh;
    font-size: 12px;
}
.card .Activecard .card-description .title{
    position: relative;
    top:16vh;
    font-size: 11px;
    color: rgb(148, 148, 178);
}
  



.card .card-buttons .watch-now {
    margin-left: 1vb;
    margin-top:7vh;
    border: 1px solid rgba(190, 187, 182, 0.1);
    border-radius: 10px;
    padding: 1.4vh 7vb; 
    cursor: pointer;

    font-size: 12px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: transform .2s ease;
}

.card .card-buttons .watch-now:hover {
    transform:scale(1.03)
}

.card .card-buttons .add {
  margin-top:4vh;
    border: 1px solid rgba(190, 187, 182, 0.1);
    border-radius: 10px;
    padding:  .9vh 1.5vb;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(54, 51, 51, 0.5);
    color: rgb(255, 255, 255);
    transition: all .2s ease;
    margin-left: 1vb;
}

.card .card-buttons .add:hover {
    transform:scale(1.03)
}

.card .card-buttons .card-triangle {
    border-top: 4px solid transparent;
    border-left: 8px solid #000000;
    border-bottom: 4px solid transparent;
    display: inline-block;
    margin-right: 2px;
}

.card .card-description .dot {
    height: 4px;
    width: 4px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    display: inline-block;
    margin: 4px 4px;
}
