.banner {
    position: relative; 
    background-color: rgb(0, 0, 0);
    width: 100%;
}

.banner video {
    width: 100%;
    min-width:68vb;
    position: fixed; 
    z-index: 0; 
}

.banner .information {
    position: absolute; 
    top: 40vh;
    left: 9%;
    width: 90%;
    min-width:60vb ;
    background-color:rgb(0, 0, 0,0);
    z-index: 2; 
}
.banner p{
    margin-top: 2vh;
    color:rgb(238, 233, 233);
    margin-bottom: 2vh;
}
.banner .description p{
    margin-top: 2vh;
    color:rgb(238, 233, 233,.7);
    margin-bottom: 2vh;
}
.banner .details{
    font-weight: bold;
}
.banner .category{
    font-weight: bold;
}
.banner button{
    border: 1px solid rgba(190, 187, 182, 0.1);
    border-radius: 4px;
    margin-top: 1vh;
    padding: 0.4vh 2vh;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(104, 101, 87, 0.6);
    color: rgb(255, 254, 251);
}
.banner .row .buttons button{
    border: 1px solid rgba(190, 187, 182, 0.1);
    border-radius: 4px;
    margin-top: 4vh;
    margin-right: 2vb;
    padding:3.6vh 8vb;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(104, 101, 87, 0.4);
    color: rgb(255, 254, 251);
}
.banner .details,.category,.description{
    width:70vb;
}
.banner .row{
    display:flex;
    justify-content: space-between;
}

.banner .row .image img{
    margin-top: 4vh;
    margin-left:1vh;
    height:10vh;
    width:20vb;
}
.banner .information .movieposter{
    width:30vb;
}
.banner .shadow{
    position:absolute;
    margin-top:42%;
    z-index:2 ;
    top:50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .2),rgba(0, 0, 0, 0));
    height:20vh;
    width:100%;
}
.banner .rows{
    position:absolute;
    margin-top:102.5vh;
    z-index:2 ;
    top:50%;
    width:100%;
    background-color: black;
}