.row-movies{
    position:relative;
    left:0;
    margin-left: 9%;
    color:white;
    width:91%;
    height:100%;
}
.row-contents{
    margin-top: 1vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .2),rgba(0, 0, 0, 0));
    border-radius: 7px;
    display:flex;
    justify-content:space-around;
    height:47vh;
    width:100%;
    
}


.row-movies .row-contents .mov{
    transition: transform .2s ease;
}
.row-movies .row-contents .mov img{
    object-fit: contain;
    height: 30vh;
    border-radius: 10px;
}
.row-movies .row-contents .mov.active{
    transform:scale(1.2);
}
.scroll-button {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
  }