/* Set background color for the entire view */
.whole-view {
    background-color: rgb(0, 0, 0);
}

/* Navbar styles */
.nav {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Use fractions for flexible layout */
    position: fixed;
    width: 100%; /* Set min-width in pixels */
    left: 0;
    top: 0;
    bottom: 0;
  
    color: aliceblue;
    transition: all 0.5s ease;
}

.nav-bar {
   width:130px;
   background-color: rgba(7, 2, 32, 0.04);
}

.nav-text {
    display: flex;
    width:70%;
    flex-direction: column;
    justify-content: center;

    position: fixed;
    color: #ffffff;
    opacity: 1;
    margin-top: 12%;
    transition: opacity 0.3s ease;
    margin-left:10%;
}

.nav-bar ul,
.nav-text ul {
    list-style: none;
    padding: 0;
}

.nav-bar ul li .nav-link,
.nav-text ul li {
    margin-bottom: 35px; /* Reduce margin for closer spacing */
}

.nav-bar ul li .nav-link img {
    margin-left: 5vh;
    width: 20px; /* Adjust image size as needed */
}

.nav-bar .logo { 
    margin-left:3vh;
    margin-top:5vh;
    height: 6vh;
    width: 8vh;
}

.nav-bar .nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;
}

/* Scale the link on hover */
.nav-bar .nav-link:hover {
    transform: scale(1.1);
}

/* Show the nav text on hover */
.nav-bar .nav-link:hover + .nav-text {
    transform: scale(1.1);
}

/* Button styles */
.nav-bar .button {
    border: 1px solid rgba(235, 156, 9, 0.8);
    border-radius: 10px;
    margin-left: 1vh;
    margin-top: 2vh;
    margin-bottom:38px;
    padding: 5px 5px; /* Add padding for better button appearance */
    cursor: pointer;
    font-weight: bold;
    background-color: rgba(201, 171, 37, 0.2);
    color: rgba(248, 186, 16, 0.9);
}
