.whole-view {
    background-color: rgb(34, 32, 32);
}
.nav-bar {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 15%;
    left: 0;
    top: 15px;
    bottom: 0;
    color: aliceblue;
    transition: all 0.5s ease;
    min-height:150px;
    z-index: 3;
    overflow-x: hidden;
}
.nav-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-bar ul li .nav-link{
    margin-bottom: 6vh;
    margin-left: 6vh;
    width:150px;    
}
.nav-bar .logo { 
    margin-top:3vh;
    margin-left: 3.4vh;
    height: 36px;
    width: 51px;
}

.nav-bar .nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;
}
.nav-bar ul li img {
    width:20px;
    transition: transform 0.3s ease;
}
.nav-bar .nav-link.active img {
    transform: scale(1.2) translateX(3px);
}
.nav-bar .button {
    border: 1px solid rgba(235, 156, 9, 0.1);
    border-radius: 10px;
    margin-left: 1vh;
    margin-top: 1vh;
    margin-bottom: 8vh;
    padding: 0.4vh 2vh;
    cursor: pointer;
    font-size: 12.5px;
    background-color: rgba(201, 171, 37, 0.2);
    color: rgb(255, 187, 0);
}

.nav-text ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-bar.expanded {
    width: 60vw;
    background: linear-gradient(to right,  rgba(0, 0, 0, 0.8), rgrgba(0, 0, 0, 0.5)rgba(0, 0, 0, 0)); /* Linear gradient from solid color to transparent */
   
}
.nav-text {
    display: inline-block; 
    font-size: 16px; 
    color: #ffffff; 
    margin-left: 5vb; 
    transition: transform 0.3s ease;
}

.nav-text.active {
    display: inline-block;
    transform: scale(1.2) translateX(5px); 
}