.footer {
    position: relative;
    top:56.9vh;
    bottom: 0;
    display: grid;
    color:white;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.5fr 0.5fr 0.5fr 2.5fr;
    grid-row-gap: 20px;
    background-color: rgb(18, 19, 27);
    height: 40vh;
    width: 100%;
    z-index: 1;
}
.firstgridrow{
    margin-top:7vh;
    margin-left:20vb;
    margin-bottom:5vh;
    font-weight: bold;
}


.footer-item {
    color: rgb(148, 148, 178);
    margin-left:20vb;
  }

  .footer-item .image{
    display:flex;
}
.footer-item .image img{
    width:16vb;
    margin-right:2vb;
}