.whole-view {
    background-color: rgb(34, 32, 32);
}
.nav-bar {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    position: fixed;
    width: 7%;
    left: 0;
    top: 0;
    bottom: 0;
    color: aliceblue;
    transition: all 0.5s ease;
    min-height:150px;
    min-width: 90px;
    z-index: 4;
    overflow: hidden;
}
.nav-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-bar ul li .nav-link{
    margin-bottom: 6.2vh;
    margin-left: 5.5vb;
    width:150px;    
}
.nav-bar .logo { 
    margin-top:5.4vh;
    margin-left: 3.3vb;
    height: 37px;
    width: 51px;
}
.nav-bar .numbers{
    position: absolute;
    top:82.5vh;
    left:3.6vw;
    width: 2vw; 
    height:4vh;
    line-height: 30px; 
    border-radius: 50%; 
    text-align: center; 
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0); 
}

.nav-bar .nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;
}
.nav-bar ul li img {
    width:18px;
    transition: transform 0.3s ease-out;
}
.nav-bar .nav-link.active img {
    transform: scale(1.05) translateX(3px);
}
.nav-bar .button {
    border: 1px solid rgba(235, 156, 9, 0.1);
    border-radius: 10px;
    margin-left: 1vb;
    margin-top: 1.5vh;
    margin-bottom: 6.5vh;
    padding: 0.2vh 1.1vh;

    cursor: pointer;
    font-size: 12.5px;
    background-color: rgba(201, 171, 37, 0.2);
    color: rgb(248, 200, 144);
}

.nav-text ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-bar.expanded {
    width: 60vw;
    background: linear-gradient(to right,  rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0)); 
   
}
.nav-text {
    display: inline-block; 
    font-size: 16px; 
    color: rgba(255, 255, 255,0.7); 
    margin-left: 5vb; 
    transition: transform 0.3s ease;
}

.nav-text.active {
    display: inline-block;
    transform: scale(1.2) translateX(5px);
    font-weight: bold;
    color:white;
}

@media only screen and (max-width:800px){
    .nav-bar{
        .numbers{
            top:93.5vh;
            left: 5.5vw;
        }
    }
}

