.images{
  width:35vw;
  height:15vh;
}
.images .image img{
    height: 100%;
    width:100%;
    opacity: .7;
    border-radius: 5%;
    object-fit: cover;
    transition: transform .2s ease;

}
.images .image{
  height:10vh;
  width:8vw !important;
  margin-top: 2vh;
  

}
.images .image .image-active{
    transform: scale(1.14);
    opacity: 1;
    border:1px solid white;
}

.slick-list{
  padding: 10px;
}


